
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	/*background: black;*/
}

div {
	padding-left:10px;
}
.indent {
	text-indent: 2em;
}

img {
	display: block;
	width: 25%;
	margin: auto;
}
  
ol {
	padding-left: 20px;
}

h1, h2, h3, h4, h5 {
text-align: center;
}

.center {
text-align: center;
}

.tCenter {
	margin: 0px auto;
}

.tdPadding {
	padding: 0px 5px;
}

h1, h2, h3, h5, h5, p {
padding: 0;
margin: 0;
}

details[open] {
  padding: 10px;
}

.index {
  background-color: #b4b4b4;
  opacity: 0.5;
  font-size: 12px;
  font-weight: bold;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 1000;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.red {
	color: red;
}

.map {
  width: 70px;
}

details.about {
	position: fixed;
	left: 10px;
	top: 10px;
	z-index: 1000;	
}

details.about[open] {
	float:
	background-color:rgba(255, 255, 255, 0.5);
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 1000;
	border: 1px solid gray;
	border-radius: 10px;
	text-decoration: none;
	color: black;
	box-shadow: 8px 8px rgb(0 0 0 / 20%);
	padding-top: 20px;
	
}
details.about > summary {
  list-style: none;
}
details.about > summary::-webkit-details-marker {
  display: none;
}

.button {
  width: 15px;
	position: fixed;
	left: 10px;
	top: 10px;
}

a.but:link {
	padding: 5px 5px 5px 5px;
  text-decoration: none;
  color: black;
}

a.but:visited {
	padding: 5px 5px 5px 5px;
  text-decoration: none;
  color: black;
}

a.but:hover {
	padding: 0px 0px 10px 10px;
  text-decoration: none;
  color: gray;
}

a.but:active {
	padding: 5px 5px 5px 5px;
  text-decoration: none;
  color: black;
}